.form {
  &__label {
    margin-bottom: 20px;
    font-size: 10px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .04em;

    &_small {
      margin-bottom: 15px;
    }
  }

  &__row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    &_small {
      margin-left: -9px;
      margin-right: -9px;
    }
  }

  &__col {
    padding: 0 15px;
    width: 50%;
    flex-basis: 50%;

    &_small {
      padding: 0 9px;
    }
  }

  &__row + &__row,
  &__field + &__field,
  &__field + &__row,
  &__row + &__field {
    margin-top: 30px;
  }
}
