// base color vars
$brown-color: #d8d1ca;
$blue-color: #17506d;
$orange-color: #fdaf39;
$gray-color: #bebdbb;
$red-color: #c92121;

// semantic color vars
$text-color: #020201;
$link-color: #2e73fb;

// grid vars
$grid-columns: 12;

// typography vars
$base-font-size: 14px;
$open-sans: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$pragmatica: 'Pragmatica Slab', 'Arial', 'Helvetica', sans-serif;
$proxima: 'Proxima Nova', 'Arial', 'Helvetica', sans-serif;

// media queries vars
$mq-breakpoints: (
  mobile: 320px,
  tablet: 640px,
  desktop: 1024px,
  wide: 1400px,

  desktopAd: 810px,
  mobileLandscape: 480px
);
