// base color vars
$brown-color: #d8d1ca;
$blue-color: #17506d;
$orange-color: #fdaf39;
$gray-color: #bebdbb;

// semantic color vars
$text-color: #000;

// grid vars
$gutter-width: 0px;
$total-width: 100%;

// typography vars
$base-font-size: 14px;
$open-sans: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$pragmatica: 'Pragmatica Slab', 'Arial', 'Helvetica', sans-serif;

// media queries vars
$mq-breakpoints: (
  mobile: 320px,
  tablet: 640px,
  desktop: 1024px,
  wide: 1400px,

  desktopAd: 810px,
  mobileLandscape: 480px
);
