.editor-toolbar {
  order: -1;
  display: flex;
  align-items: center;
  background: #efeeea;
  padding: 20px;

  &__separator {
    display: inline-block;
    border-right: 1px solid #d9d5c7;;
    height: 40px;
    margin: 0 .8em;
  }
}
