{
  "extends": "react-app",
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "object-curly-spacing": ["warn", "always"],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "react/jsx-curly-spacing": ["warn", {"when": "always", "children": true}],
    "react/jsx-indent-props": ["warn", "first"],
    "react/jsx-indent": ["warn", 2],
    "indent": ["warn", 2, {
      "SwitchCase": 1,
      "ImportDeclaration": "first",
      "VariableDeclarator": "first",
      "ObjectExpression": "first",
      "ignoredNodes": ["JSXAttribute", "JSXSpreadAttribute", "JSXElement"],
      "ignoreComments": true
    }]
  }
}
