{
  "extends": "react-app",
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "ImportDeclaration": "first",
      "VariableDeclarator": "first",
      "ObjectExpression": "first",
      "ignoredNodes": ["JSXAttribute", "JSXSpreadAttribute"]
    }],
    "react/jsx-curly-spacing": [ 2, {"when": "always"} ],
    "react/jsx-indent-props": [2, "first"]
  }
}
