.content-editor {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #efeeea;

  .align-right div {
    text-align: right;
  }

  .align-center div {
    text-align: center;
  }

  .align-left div {
    text-align: left;
  }
}
