.menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: $blue-color;
    transition: color .2s;

    &:hover,
    &_active {
      color: $orange-color;
    }
  }

  &__item {
    & + & {
      margin-left: 25px;
    }
  }
}
