.article-files-form-item {
  padding: 16px 0;

  &__header {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }

  &__infobox {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__name {
    color: $link-color;
    font-size: 18px;
  }

  &__info {
    color: #B8B6B0;
    font-size: 12px;
  }

  &__actions {
    display: flex;
    align-items: center;
    padding: 2px 8px;
  }

  &__remove {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 3px;
    outline: none;
    border: 1px solid #B8B6B0;
    background: #ECEFEA;

    &__icon {
      width: 8px;
      height: 8px;
      margin: auto;
      fill: #C4C4C4;
    }
  }
}
