.tools-menu {
  $root: &;

  width: 240px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    & + & {
      border-top: 1px solid #dcdcdc;
    }
  }

  &__button {
    border-radius: 0;
    border: 0;
    outline: 0;
    padding: 20px 24px;
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color .2s;
    display: block;
    text-decoration: none;
    color: inherit;

    #{$root}__item_preview & {
      color: $blue-color;
      font-weight: 600;
    }

    &:hover,
    #{$root}__item_preview &:hover {
      color: $orange-color
    }
  }

  &__icon {
    width: 24px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    fill: $orange-color;
  }
}
