.checkbox-filter {
  display: flex;
  flex-direction: column;

  &__option {
    padding: 14px 18px;
  }

  &__divider {
    border: none;
    height: 1px;
    background-color: #DCDCDC;
    margin: 0;
  }
}
