.image-media {
  border-radius: 6px;
  background-color: #F7F7F7;
  padding: 40px 40px 35px;

  &__box {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
  }

  &__image {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  &__description {
    margin-top: 31px;
  }

  &__title {
    font-size: 16px;
    line-height: 26px;
  }

  &__additional {
    font-style: italic;
    margin-top: 14px;
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__doi {
    color: rgba($text-color, .5);
    font-size: 12px;

    &-link {
      margin-left: 8px;
      color: #020201 !important;
    }
  }

  &__icon {
    width: 16px;
    height: 17px;
    fill: $orange-color;
    margin-right: 6px;
  }

  &__download {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 17px;
    color: inherit !important;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: auto;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #cfcfcf transparent transparent transparent;
      transform: translate(0, -50%);
    }
  }
}
