.logo {
  width: 319px;
  height: 64px;
  border-right: 1px solid $brown-color;
  padding-right: 35px;
  flex: none;

  &__link {
    display: block;
  }

  &__image {
    display: block;
    max-width: 100%;
  }
}
