.select {
  $root: &;

  position: relative;
  color: inherit;

  &:after {
    content: '';
    width: 7px;
    height: 7px;
    display: block;
    border: solid #292929;
    border-width: 0 2px 2px 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    transform: rotate(45deg);
    pointer-events: none;
  }

  &__field {
    appearance: none;
    background: #fcfcfa;
    border: 1px solid $brown-color;
    outline: none;
    display: block;
    padding: 15px 30px 15px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    text-overflow: ellipsis;

    @include mq($from: desktop) {
      padding: 23px 30px 23px 15px;
      font-size: 16px;
    }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 0;
    }

    #{$root}_error & {
      border-color: $red-color;
    }
  }
}
