.content-counter {
  display: flex;
  padding: 8px 15px;
  background: #efeeea;
  font-size: 12px;

  &__value,
  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__label {
    margin-right: 4px;
    color: #848c94;
  }

  &__value {
    color: #192a3e;
  }

  &__item {
    & + & {
      margin-left: 15px;
    }
  }
}
