.image-media-editor {
  $root: &;

  margin: 10px -20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
  }

  &__holder {
    padding: 8px 20px 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $orange-color;
  }

  &__item {
    max-width: 16.666%;
    flex-basis: 16.666%;
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
  }

  &__button {
    background: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    text-align: left;
    cursor: pointer;
    width: 100%;
  }

  &__info {
    margin-top: 10px;
    padding: 0 5px;
  }

  &__view {
    border-radius: 4px;
    overflow: hidden;
    padding: 4px;
    box-shadow: inset 0 0 0 2px transparent;
    transition: box-shadow .2s;
    position: relative;
    box-sizing: border-box;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    #{$root}__zone:hover & {
      box-shadow: inset 0 0 0 2px $orange-color;
    }
  }

  &__title {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 10px;
  }

  &__size {
    color: #818180;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  &__image {
    max-width: 100%;
    display: block;
    border-radius: 4px;
  }

  &__edit-icon {
    width: 14px;
    height: 14px;
    fill: #fff;
    cursor: pointer;
  }

  &__top {
    display: flex;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__box {
    background: $orange-color;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    opacity: 0;
    transition: opacity .2s;

    #{$root}__zone:hover & {
      opacity: 1;
    }
  }

  &__remove-button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    font-size: 12px;
  }

  &__remove-icon {
    width: 11px;
    height: 11px;
    fill: $red-color;
    margin-right: 5px;
  }
}
