.editor-button {
  $root: &;
  flex: none;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  transition: background .2s;

  &:hover {
    background: #e4e3dd;
  }

  &_active,
  &_active:hover {
    background: #c1c0bc;
  }

  &__icon {
    width: 15px;
    height: 15px;
    transition: fill .2s;

    #{$root}_active & {
      fill: #fff;
    }

    &_bold {
      width: 10px;
      height: 11px;
    }

    &_italic {
      width: 4.5px;
      height: 11px;
    }

    &_underline {
      width: 12px;
      height: 14px;
    }
  }
}
