.redactor-reviewer-list {
  .list__item {
    padding: 0 25px;
    box-sizing: border-box;
  }

  .list__placeholder {
    padding: 18px 25px;
  }

  &__choose-wrapper {
    text-align: right;
  }

  &__choose {
    white-space: nowrap;
  }

  &__choose-icon {
    width: 7px;
    height: 12px;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 10px;
    fill: $blue-color;
    transform: rotate(180deg);
  }

  &__box {
    padding-bottom: 25px;
  }

  &__cancel {
    color: $orange-color;
    font-weight: normal;
    margin-left: 5px;
  }

  &__search-box {
    padding: 0 25px 16px 25px;

    .form {
      padding: 20px 0;
    }
  }

  &__count {
    opacity: .5;
    padding: 8px 0;
    font-size: 12px;
  }
}
