.header-tools {
  display: flex;
  align-items: center;
  flex: auto;
  max-width: 1012px;
  padding-left: 4%;
  position: relative;

  &__item {
    margin-right: 10%;

    &_right {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
