.header-tools {
  display: flex;
  align-items: center;
  flex: auto;
  max-width: 1012px;
  padding-left: 50px;
  position: relative;

  &__item {
    margin-right: 80px;

    &_right {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
