.redactor-collapse-button {
  padding: 20px 30px;
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  position: relative;

  &_active {
    border: 0;
  }

  &:after {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border: solid #767676;
    border-width: 0 2px 2px 0;
    position: absolute;
    right: 19px;
    top: 50%;
    margin-top: -6px;
    transform: rotate(45deg);
    pointer-events: none;
  }

  &_active:after {
    margin: 0;
    transform: rotate(-135deg);
    border-color: $orange-color;
  }
}
