.text-field {
  $root: &;

  &__input {
    background: #fcfcfa;
    border: 1px solid #dcdcdc;
    outline: 0;
    display: block;
    padding: 18px 30px 18px 18px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    text-overflow: ellipsis;
    resize: none;
    transition: border-color .2s;

    #{$root}_small & {
      padding: 11px 40px 11px 17px;
      font-size: 14px;
    }

    &:hover {
      border-color: #676767;
    }

    &:focus {
      border-color: $orange-color;
    }

    &:disabled {
      background: #e2e2e2;

      &:hover {
        border-color: #dcdcdc;
      }
    }

    &:required {
      box-shadow: none;
    }
  }

  &__icon {
    position: absolute;
    right: 8px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    pointer-events: none;

    &_calendar {
      width: 16px;
      height: 16px;
      fill: $orange-color;
    }
  }
}
