.text-field {
  $root: &;

  &_preview {
    margin-bottom: 20px;
  }

  &__box {
    position: relative;
  }

  &__input {
    background: #fcfcfa;
    border: 1px solid #dcdcdc;
    outline: 0;
    display: block;
    padding: 18px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    text-overflow: ellipsis;
    resize: none;
    transition: border-color .2s;

    #{$root}_small & {
      padding: 11px 17px 11px 17px;
      font-size: 14px;
    }

    #{$root}_small#{$root}_calendar & {
      padding: 11px 40px 11px 17px;
    }

    &:hover {
      border-color: #676767;
    }

    &:focus {
      border-color: $orange-color;
    }

    &:disabled {
      background: #e2e2e2;

      &:hover {
        border-color: #dcdcdc;
      }
    }

    &:read-only {
      background: #fafaf9;

      &,
      &:hover,
      &:focus {
        border-color: #fafaf9;
      }
    }

    &:required {
      box-shadow: none;
    }

    &::placeholder {
      color: #979796;
    }

    #{$root}_error & {
      border-color: #ff4337;
    }

    #{$root}_white & {
      background: #fff;
    }

    #{$root}_dark & {
      background: #e7e7e7;
    }

    #{$root}_search & {
      padding: 18px 45px 18px 18px;
    }
  }

  &__icon {
    position: absolute;
    right: 8px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    pointer-events: none;

    &_calendar {
      width: 16px;
      height: 16px;
      fill: $orange-color;
    }

    &_search {
      width: 18px;
      height: 17px;
      right: 20px;
    }
  }

  &__error {
    color: #ff4337;
    margin-top: 6px;
    font-size: 12px;
  }
}
