.file-drop-placeholder {
  border: 1px dashed $orange-color;
  background: repeating-linear-gradient(-45deg, transparent, transparent 80px, #fff1d8 80px, #fff1d8 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  min-height: 105px;
  cursor: pointer;


  &__holder {
    display: flex;
  }

  &__info {
    text-align: center;
  }

  &__icon {
    width: 28px;
    height: 24px;
    fill: #bfbfbf;
    margin-right: 10px;
  }

  &__title {
    color: #818180;
    font-weight: 600;
    margin-bottom: 3px;
  }

  &__pseudolink {
    color: $orange-color;
    border-bottom: 1px solid;
  }
}
