.author-add {
  &__title {
    font-weight: 600;
    color: #192a3e;
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  &__list {
    margin-top: 25px;
  }

  &__name {
    font-size: 16px;
    color: #192a3e;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__info {
    color: #c1c4bf;
  }

  &__person {
    margin-bottom: 20px;
  }

  &__roles {
    margin-top: 30px;
    margin-bottom: -40px;
  }

  &__roles-box {
    padding: 30px 0 30px;
  }

  &__roles-list {
    flex-flow: row wrap;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 -30px;
  }

  &__roles-role {
    width: 33.333333%;
    margin: 0 0 30px;
  }

}
