.author-add {
  &__title {
    font-weight: 600;
    color: #192a3e;
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  &__list {
    margin-top: 25px;
  }

  &__name {
    font-size: 16px;
    color: #192a3e;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__info {
    color: #c1c4bf;
  }

  &__person {
    margin-bottom: 20px;
  }
}

.author-add__roles {
  margin-top: 30px;
  border-top: 1px solid rgba(194, 193, 186, 0.45);
  margin-bottom: -40px;
}

.author-add__forbut {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.author-add__roles-button {
  border: 0;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 8px;
  letter-spacing: 0.08em;
  cursor: pointer;
  height: 48px;

  & + .field-hint {
    margin-left: 0;
  }
}

.author-add__roles-box {
  padding: 50px 0 30px;
}

.author-add__roles-list {
  flex-flow: row wrap;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 -30px;
}

.author-add__roles-role {
  width: 33.333333%;
  margin: 0 0 30px;
}

.author-add__roles-arrow {
  width: 8px;
  height: 8px;
  display: block;
  border: solid #292929;
  border-width: 0 2px 2px 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 6px;
  pointer-events: none;

  &_up {
    margin-top: -3px;
    transform: rotate(-135deg);
  }

  &_down {
    margin-top: -6px;
    transform: rotate(45deg);
  }
}
