.reviews-history {
  $root: &;
  margin: 50px 0 40px;

  &__item {
    border-top: 1px solid #e8e7e4;
    padding: 15px 0;
  }

  &__round {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #192A3E;
    font-weight: 600;
  }

  &__content {
    padding: 48px 0 70px;
    display: none;
    
    #{$root}__item_opened & {
      display: block;
    }
  }

  &__review {
    background: #FFFFFF;
    border: 2px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 44px;
  }

  &__answer {
    margin-top: 22px;
    background: #F6F6F6;
    border-radius: 6px;
    padding: 44px;
  }

  &__title {
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__text {
    line-height: 32px;
    font-size: 16px;
    color: #131313;
  }

  &__head {
    position: relative;
  }

  &__arrow {
    width: 8px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: rotate(-90deg) translate(50%, -100%);

    #{$root}__item_opened & {
      transform: rotate(90deg) translate(-50%, 100%);
    }
  }
}
