.editor-button {
  $root: &;
  flex: none;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: 0;
  transition: background .2s;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background: #e4e3dd;
  }

  &:disabled {
    cursor: default;
  }

  &_active,
  &_active:hover {
    background: #c1c0bc;
  }

  &__icon {
    width: 15px;
    height: 15px;
    transition: fill .2s;
    fill: #192a3e;

    #{$root}_active & {
      fill: #fff;
    }

    #{$root}:disabled & {
      fill: #c4c7c8;
    }

    &_bold {
      width: 10px;
      height: 11px;
    }

    &_italic {
      width: 4.5px;
      height: 11px;
    }

    &_underline {
      width: 12px;
      height: 14px;
    }

    &_align-left,
    &_align-center,
    &_align-right,
    &_align-justify {
      width: 16px;
      height: 18px;
      stroke: #192a3e;

      #{$root}_active & {
        stroke: #fff;
      }
    }

    &_sub {
      width: 12px;
      height: 11px;
      top: 2px;
      position: relative;
    }

    &_sup {
      width: 12px;
      height: 10px;
    }

    &_undo,
    &_redo {
      width: 14px;
      height: 12px;
    }

    &_uppercase {
      width: 15px;
      height: 11px;
    }

    &_capitalize {
      width: 17px;
      height: 11px;
    }

    &_link {
      width: 22px;
      height: 11px;
    }

    &_unlink {
      width: 22px;
      height: 11px;
    }

    &_picture-small {
      width: 19px;
      height: 14px;
    }

    &_table {
      width: 15px;
      height: 14px;
    }


    &_add-row-after,
    &_add-row-before,
    &_add-column-before,
    &_add-column-after {
      width: 16px;
      height: 17px;
    }

    &_delete-row,
    &_delete-column {
      width: 18px;
      height: 16px;
    }

    &_merge,
    &_split {
      width: 16px;
      height: 15px;
    }

    &_delete-table {
      width: 15px;
      height: 15px;
    }

    &_edit-table {
      width: 18px;
      height: 16px;
    }

    &_add-row-before,
    &_add-row-after,
    &_delete-row,
    &_add-column-before,
    &_add-column-after,
    &_delete-column,
    &_merge,
    &_split,
    &_delete-table,
    &_edit-table {
      #{$root}:disabled & {
        opacity: .2;
      }
    }
  }
}
